/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
img {
  width: 500px; /* sets the width */
  height: auto; /* keeps aspect ratio */
  display: flex;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100px;
  height: 100px;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #ff0000;
}

.min_computer a {
  background-color: #ff0000;
  color: white; /* text color */
  border: 2px solid #ff0000;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 20px;
}
.min_computer {
  margin-top: 1.5rem;
}
.min_computer a:hover {
  background-color: rgb(255, 255, 255);
}

h1 {
  font-family: serif;
  color: rgb(32, 31, 31);
  line-height: 2;
  padding: 10px;
  font-size: 3rem;
  text-decoration: underline;
}
h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 1;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: rgb(32, 31, 31);
  font-size: 1.8rem;
}
h3 {
  padding: 5px;
  text-decoration: underline;
}

p {
  font-family: "saira", sans-serif;
  line-height: 1.6;
  padding: 10px;
  text-wrap: pretty;
  color: rgb(32, 31, 31);
  font-size: 1rem;
}
dl {
  line-height: 2;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(32, 31, 31);
  text-align: center;
  font-family: "saira", sans-serif;
}
dd {
  font-weight: bold;
  font-size: 1rem;
  color: #ff0000;
  border: 2px solid #ff0000;
  padding: 2px 6px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

a {
  color: rgb(32, 31, 31);
  text-decoration: none;
  font-weight: 600;
  margin-top: 1rem;
}

a:hover {
  color: #ff0000;
  text-decoration: underline;
}

footer {
  background-color: rgb(30, 29, 29);
  border: 5px;
  padding: 10px;
  margin-top: 1rem;
  color: whitesmoke;
  text-align: center;
}
